            <h1 class="text-center">Movie Database</h1>
            <form action="/form" id="myForm" method="get">
                <input id="searchbox" name="searchbox" type="text" placeholder="Search Movie">
                <button id="myButton" type="submit">Search</button> 
            </form>